#mainTitle{
    top: 100px;
    text-align: center;
    font-size: 8ex;
    font-weight: 900;
}
#menu{
    text-align: right;
    height: 100px;
    background-color: black;
}
#topPage{
    position: relative;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 150px;
    display: inline;
    border-color :black;
    background-color: white;
}
#listPage{
    position: relative;
    top: 20px;
    right: 20px;
    height:60px;
    width:150px;
    display: inline;
    border-color:black;
    background-color:white;
}
#inputFile_area{
    position: relative;
    padding: 200px 0 100px;
    text-align: center;
}
#drop_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 100px 0 0;
    border: 2px dashed black;
    font-size: large;
    font-weight: bold;
}
#drop_area.dragover {
    border: 2px solid black;
}
#selectFile{
    position: relative;
}
#selectFile_button{
    text-align: center;
    width: 300px;
    height: 50px;
}
#decision{
    position: relative;
    text-align: center;
}
#upload_button{
    height:50px;
    width:150px;
    display: inline;
    border-color:  black;
    background-color:white;
}
#cansel_button{
    height:50px;
    width:150px;
    display: inline;
    border-color:  black;
    background-color:white;
}
#resultMessage{
    text-align: center;
}