/* 変数宣言 */
:root{
    --upload_image_size: 225px;

}
body{
}
#mainTitle{
    top:100px;
    font-size:8ex;
    font-weight:900;
    text-align:center;
}
#menu{
    text-align: right;
    height: 100px;
}
#topPage{
    position: relative;
    top: 15px;
    height: 50px;
    width: 200px;
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border-radius: 25px;
    background-color: #0099ff;
    border: none;
    cursor: pointer;
    margin-right: 20px;

}
#listPage{
    position: relative;
    top: 15px;
    height: 50px;
    width: 200px;
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border-radius: 25px;
    background-color: #0099ff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
#inputFile_area{
    position: relative;
    padding: 200px 0  100px;
    text-align: center;
}
#drop_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 100px 0 0;
    border: 2px dashed black;
    font-size: large;
    font-weight: bold;
}
#drop_area.dragover{
    border: 2px solid black;
}
#selectFile{
    position: relative;
}
#selectFile_button{
    text-align: center;
    width: 300px;
    height: 50px;
}
#decision{
    position: relative;
    text-align: center;
}
#upload_button{
    display: inline;
    height:50px;
    width:150px;
}
#cansel_button{
    display: inline;
    height:50px;
    width:150px;
}
#resultMessage{
    text-align: center;
}
#file_title{
    text-align:center;
}
#upoad_image_list{

}
/* 画像を横に並べる */
.upload_image_set{
    width: var(--upload_image_size);
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
/* 画像の枠を一定にすることで縦横比の違う画像同士でもデザインが崩れない */
.upload_image_box{
    position: relative;
    width: var(--upload_image_size);
    height: var(--upload_image_size);
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}
/* 枠からはみ出ないように画像の最大サイズを指定 */
.upload_image{
    width: auto;
    height: auto;
    max-width: var(--upload_image_size);
    max-height: var(--upload_image_size);
}
/* 名前を自動で省略す… */
.upload_name{
    /* word-wrap: break-word; */
    margin-top: 0%;
    margin-bottom: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.download_button{

}