<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <script defer src="{{ url_for('static', filename='changed_files.js') }}"></script>
    <title>変換済みファイル一覧</title>
</head>
<body>
    <button type="button" id="main_button" onclick="location.href='/'">メインメニュー</button>
    <button type="button" id="file_button" onclick="location.href='/changed_files'" disabled>変換済ファイル一覧</button>
    <h1 id="file_title">変換済みファイル一覧</h1>
    <div id="upload_image_list">
        <!-- 表示サンプル -->
        <!-- <div class="upload_image_set">
            <img class="upload_image" src="./static/upload_images/image.jpg" alt="元の画像image.jpg">
            <p class="upload_name">image.jpg</p>
            <a href="./static/upload_images/image.jpg.txt" download class="download_button">テキストをダウンロード</a>
        </div> -->
    </div>
</body>
</html>