<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <script defer src="{{ url_for('static', filename='changed_files.js') }}"></script>
    <title>変換済みファイル一覧</title>
</head>
<body>
    <h1 id="file_title">変換済みファイル一覧</h1>
    <div id="upload_images">
        <!-- 表示サンプル
        <div>
            <img class="upload_image" src="./static/upload_images/image.jpg" width="90%" alt="元画像">
            <p class="upload_name">image.jpg</p>
            <a href="./static/upload_images/image.jpg" download>ダウンロード</a>
        </div> -->
    </div>
</body>
</html>