<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="./static/main.css">
        <title>文字認識</title>
    </head>
    <body>
        <div id="menu">
            <button type="button" id="topPage" onclick="location.href='/'" disabled>メインメニュー</button>
            <button type="button" id="listPage" onclick="location.href='/changed_files'">変換済ファイル一覧</button>
        </div>
        <h1 id="mainTitle">文字認識</h1>
        <form method="POST" enctype="multipart/form-data">
        <div id="inputFile">
            <div id="inputFile_area">
                <p id="drop_area">ここにファイルをドラッグ&ドロップ</p>
                <div id="selectFile">
                    <input type="file" id="selectFile_button" name="file">
                </div>
            </div>
        </div>
        <div id="decision">
            <input type ="submit" id="upload_button" value="アップロード">
            <input type="reset" id="cansel_button" value="キャンセル">
        </div>
        </form>
        <div id="resultMessage">
            <h2>{{ result_message }}</h2>
            <h2>{{ cause_message }}</h2>
        </div>
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>